---
import Layout from '../layouts/MainLayout.astro';
import BlogPreview from '../components/BlogPreview.astro';
---

<Layout title="Blog & Berita | Kompetisi Kompetensi Akademik">
  <main>
    <section class="page-hero">
    <div class="container">
      <h1 class="page-hero__title">Blog</h1>
    </div>
  </section>

    <BlogPreview />
  </main>
</Layout>